In [1]:
import pandas as pd
import numpy as np
import datetime
import requests
import json
import io

In [2]:
https://api.data.gov/ed/collegescorecard/v1/schools.json?school.degrees_awarded.predominant=2,3&_fields=id,school.name,2013.student.size

SyntaxError: invalid syntax (<ipython-input-2-66272861e1d8>, line 1)

url = 'https://api.twitter.com/1.1/account/verify_credentials.json'
>>> auth = OAuth1('YOUR_APP_KEY', 'YOUR_APP_SECRET',
...               'USER_OAUTH_TOKEN', 'USER_OAUTH_TOKEN_SECRET')

>>> requests.get(url, auth=auth)

In [3]:

https://api.data.gov/ed/collegescorecard/v1/schools.json?school.degrees_awarded.predominant=2,3&_fields=id,school.name,2013.student.size

SyntaxError: invalid syntax (<ipython-input-3-bab7ae770f3a>, line 2)

In [21]:
dictionary = { 'page': 1}

for i in range(3):
    try:
        print(dictionary['page'])
        dictionary['page'] += 1
    except:
        pass

1
2
3

In [11]:
url = 'https://api.data.gov/ed/collegescorecard/v1/schools.csv'

payload = {
    'api_key': '4KCOfI4OAq28H2IwSyV3YtlicCtGJ5XlNotxUNKk',
    'fields': 'school.name,school.city,school.degrees_awarded.predominant', #'ownership', 'repayment.2_yr_default_rate', 'repayment.3_yr_default_rate', 'repayment.repayment_cohort.7_year_declining_balance'],
    'school.degrees_awarded.predominant' : '2,3,4',
    'page': 1
}


r = requests.get(url, params=payload)

In [12]:
rawData = pd.read_csv(io.StringIO(r.text))

In [13]:
rawData.head()

,school.name,school.city,school.degrees_awarded.predominant
0,California Western School of Law,San Diego,4
1,Phillips Graduate University,Chatsworth,4
2,Western University of Health Sciences,Pomona,4
3,Dominican School of Philosophy & Theology,Berkeley,4
4,Graduate Theological Union,Berkeley,4

In [53]:
len(rawData)

20

In [ ]:
api.data.gov/ed/collegescorecard/v1/schools?fields=school.name,id,2012.aid.median_debt.completers.overall,2012.repayment.1_yr_repayment.completers,2012.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&page=100

In [6]:
r.headers

{'Server': 'openresty', 'Date': 'Sun, 19 Nov 2017 03:21:32 GMT', 'Content-Type': 'text/csv;charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding, Accept-Encoding', 'X-RateLimit-Limit': '1000', 'X-RateLimit-Remaining': '999', 'Access-Control-Allow-Methods': 'GET', 'Access-Control-Allow-Origin': '*', 'Strict-Transport-Security': 'max-age=31536000', 'X-Content-Type-Options': 'nosniff', 'X-Frame-Options': 'DENY', 'X-Vcap-Request-Id': 'ed54bc49-a15a-4d83-4c1e-7316cee21b1c', 'X-XSS-Protection': '1; mode=block', 'Content-Encoding': 'gzip', 'Age': '0', 'Via': 'http/1.1 api-umbrella (ApacheTrafficServer [cMsSfW])', 'Cache-Control': 'public, max-age=300', 'X-Cache': 'MISS'}

In [7]:
r.url

'https://api.data.gov/ed/collegescorecard/v1/schools.csv?api_key=4KCOfI4OAq28H2IwSyV3YtlicCtGJ5XlNotxUNKk&fields=school.name%2Cschool.city%2Cschool.degrees_awarded.predominant&school.degrees_awarded.predominant=2%2C3%2C4'

In [249]:
type(text_string)

str

In [70]:
r.status_code

504

In [71]:
r.status_code == requests.codes.ok

False